## The Whole DB

In [12]:
import sqlite3
import pandas as pd

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Function to get basic information about the database
def get_db_info(connection):
    cursor = connection.cursor()
    
    # Get the list of tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    
    db_info = {}
    for table in tables:
        table_name = table[0]
        
        # Get the table schema
        cursor.execute(f"PRAGMA table_info({table_name});")
        schema = cursor.fetchall()
        
        # Get the number of rows
        cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
        row_count = cursor.fetchone()[0]
        
        db_info[table_name] = {
            'schema': schema,
            'row_count': row_count
        }
    
    return db_info

# Get the database information
database_info = get_db_info(conn)

# Close the connection
conn.close()

# Prepare the data for display
tables_info = []
for table, details in database_info.items():
    for column in details['schema']:
        tables_info.append({
            'Table Name': table,
            'Column Name': column[1],
            'Column Type': column[2],
            'Row Count': details['row_count']
        })

# Convert to DataFrame for display
tables_info_df = pd.DataFrame(tables_info)

# Display the DataFrame
print(tables_info_df)

                                           Table Name             Column Name  \
0                                   django_migrations                      id
1                                   django_migrations                     app
2                                   django_migrations                    name
3                                   django_migrations                 applied
4                                     sqlite_sequence                    name
5                                     sqlite_sequence                     seq
6                     llm_education_survey_discipline                      id
7                     llm_education_survey_discipline                    name
8                     llm_education_survey_discipline             description
9               llm_education_survey_educationallevel                      id
10              llm_education_survey_educationallevel                    name
11              llm_education_survey_educationallevel             description
12            llm_education_survey_educationaloutcome                      id
13            llm_education_survey_educationaloutcome                    name
14            llm_education_survey_educationaloutcome             description
15                      llm_education_survey_language                      id
16                      llm_education_survey_language                    name
17                           llm_education_survey_llm                      id
18                           llm_education_survey_llm                    name
19                           llm_education_survey_llm                 acronym
20           llm_education_survey_researchmethodology                      id
21           llm_education_survey_researchmethodology                    name
22           llm_education_survey_researchmethodology             description
23                         llm_education_survey_paper                      id
24                         llm_education_survey_paper                   title
25                         llm_education_survey_paper                     url
26                         llm_education_survey_paper                     doi
27                         llm_education_survey_paper                  source
28                         llm_education_survey_paper                    year
29                         llm_education_survey_paper                  bibtex
30                         llm_education_survey_paper                abstract
31                      llm_education_survey_analysis                      id
32                      llm_education_survey_analysis                 user_id
33                      llm_education_survey_analysis                paper_id
34                      llm_education_survey_analysis                comments
35                      llm_education_survey_analysis             is_relevant
36                      llm_education_survey_analysis                    type
37                      llm_education_survey_analysis             assigned_to
38          llm_education_survey_analysis_disciplines                      id
39          llm_education_survey_analysis_disciplines             analysis_id
40          llm_education_survey_analysis_disciplines           discipline_id
41   llm_education_survey_analysis_educational_levels                      id
42   llm_education_survey_analysis_educational_levels             analysis_id
43   llm_education_survey_analysis_educational_levels     educationallevel_id
44  llm_education_survey_analysis_educational_outc...                      id
45  llm_education_survey_analysis_educational_outc...             analysis_id
46  llm_education_survey_analysis_educational_outc...   educationaloutcome_id
47            llm_education_survey_analysis_languages                      id
48            llm_education_survey_analysis_languages             analysis_id
49            llm_education_survey_analysis_languages             language_id
50                 llm_education_survey_analysis_llms                      id
51                 llm_education_survey_analysis_llms             analysis_id
52                 llm_education_survey_analysis_llms                  llm_id
53  llm_education_survey_analysis_research_methodo...                      id
54  llm_education_survey_analysis_research_methodo...             analysis_id
55  llm_education_survey_analysis_research_methodo...  researchmethodology_id

     Column Type  Row Count
0        INTEGER         57
1   varchar(255)         57
2   varchar(255)         57
3       datetime         57
4                        14
5                        14
6        INTEGER         36
7   varchar(100)         36
8   varchar(500)         36
9        INTEGER          6
10  varchar(100)          6
11  varchar(500)          6
12       INTEGER        130
13  varchar(100)        130
14  varchar(500)        130
15   varchar(20)         52
16   varchar(20)         52
17       INTEGER         43
18  varchar(100)         43
19   varchar(20)         43
20       INTEGER         11
21  varchar(100)         11
22  varchar(500)         11
23       INTEGER       1423
24  varchar(300)       1423
25  varchar(200)       1423
26  varchar(200)       1423
27  varchar(200)       1423
28       INTEGER       1423
29          TEXT       1423
30          TEXT       1423
31       INTEGER       1423
32       INTEGER       1423
33        bigint       1423
34          TEXT       1423
35          bool       1423
36   varchar(50)       1423
37  varchar(100)       1423
38       INTEGER        194
39        bigint        194
40        bigint        194
41       INTEGER        142
42        bigint        142
43        bigint        142
44       INTEGER        158
45        bigint        158
46        bigint        158
47       INTEGER        224
48        bigint        224
49   varchar(20)        224
50       INTEGER        204
51        bigint        204
52        bigint        204
53       INTEGER        161
54        bigint        161
55        bigint        161

## Discipline

In [23]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get the list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

foreign_keys = []

# Iterate through each table and get foreign key constraints
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    fk_list = cursor.fetchall()
    for fk in fk_list:
        if fk[2] == 'llm_education_survey_discipline':
            foreign_keys.append({
                'table_name': table_name,
                'column_name': fk[3],
                'references_table': fk[2],
                'references_column': fk[4]
            })

# Get the discipline data
discipline_df = pd.read_sql_query("SELECT * FROM llm_education_survey_discipline", conn)

# Count the references for each discipline name
discipline_references = {}

for fk in foreign_keys:
    table_name = fk['table_name']
    column_name = fk['column_name']
    
    query = f"""
    SELECT d.name, COUNT(*) as reference_count
    FROM {table_name} t
    JOIN llm_education_survey_discipline d
    ON t.{column_name} = d.id
    GROUP BY d.name
    """
    try:
        ref_df = pd.read_sql_query(query, conn)
        
        for index, row in ref_df.iterrows():
            if row['name'] in discipline_references:
                discipline_references[row['name']] += row['reference_count']
            else:
                discipline_references[row['name']] = row['reference_count']
    except Exception as e:
        print(f"Error querying table {table_name}: {e}")

# Convert the discipline references to a DataFrame
discipline_references_df = pd.DataFrame(list(discipline_references.items()), columns=['Discipline Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
discipline_references_df = discipline_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Display the DataFrame using IPython display for better visualization
display(discipline_references_df)

                                    Discipline Name  Reference Count
24                      Introduction to Programming               69
23                               Introduction to CS               21
14                                     Data Science               10
19                             Education in General               10
31                             Software Engineering                6
0                                        Algorithms                5
34                                Software security                4
33                                 Software Testing                4
32  Software Engineering (requirements engineering)                4
28                      OBJect Oriented Programming                4
26                                 Machine Learning                4
25                               Introduction to SE                4
20                       Human-computer interaction                3
17                                        Databases                3
35                                  Web Development                3
10                                Computer graphics                3
9            Computer architecture and organization                3
2              Automata theory and formal languages                3
30                   Parallel Computer Architecture                2
3                                    Bioinformatics                2
6                          Computational complexity                2
7                                Computer Hardwares                2
16                                  Data structures                2
8                                 Computer Networks                2
22                                 Image processing                2
21                                       IT Courses                2
11                           Concurrent Programming                2
12   Concurrent, parallel and distributed computing                2
1                           Artificial intelligence                2
13                                     Cryptography                2
5                              Computability theory                2
4                                Business Education                1
15                               Data Visualization                1
29                                Operating Systems                1
27                                    Not mentioned                1
18                              Distributed Systems                1

## Education Levels

In [22]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database again
conn = sqlite3.connect(db_path)

# Dictionary to store the reference counts for each educational level
educationallevel_references = {}

# Query to count references in the llm_education_survey_analysis_educational_levels table
query = """
SELECT d.name, COUNT(*) as reference_count
FROM llm_education_survey_analysis_educational_levels t
JOIN llm_education_survey_educationallevel d
ON t.educationallevel_id = d.id
GROUP BY d.name
"""
ref_df = pd.read_sql_query(query, conn)

for index, row in ref_df.iterrows():
    educationallevel_references[row['name']] = row['reference_count']

# Convert the educational level references to a DataFrame
educationallevel_references_df = pd.DataFrame(list(educationallevel_references.items()), columns=['Educational Level Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
educationallevel_references_df = educationallevel_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Display the DataFrame using IPython display for better visualization
display(educationallevel_references_df)

  Educational Level Name  Reference Count
5              Undergrad              117
0                   Grad               17
2                    PhD                4
1                   K-12                2
3           Professional                1
4      Professor/Teacher                1

## Language

In [25]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get the list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

foreign_keys = []

# Iterate through each table and get foreign key constraints
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    fk_list = cursor.fetchall()
    for fk in fk_list:
        if fk[2] == 'llm_education_survey_language':
            foreign_keys.append({
                'table_name': table_name,
                'column_name': fk[3],
                'references_table': fk[2],
                'references_column': fk[4]
            })

# Count the references for each language name
language_references = {}

for fk in foreign_keys:
    table_name = fk['table_name']
    column_name = fk['column_name']
    
    query = f"""
    SELECT d.name, COUNT(*) as reference_count
    FROM {table_name} t
    JOIN llm_education_survey_language d
    ON t.{column_name} = d.id
    GROUP BY d.name
    """
    try:
        ref_df = pd.read_sql_query(query, conn)
        
        for index, row in ref_df.iterrows():
            if row['name'] in language_references:
                language_references[row['name']] += row['reference_count']
            else:
                language_references[row['name']] = row['reference_count']
    except Exception as e:
        print(f"Error querying table {table_name}: {e}")

# Convert the language references to a DataFrame
language_references_df = pd.DataFrame(list(language_references.items()), columns=['Language Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
language_references_df = language_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Display the DataFrame using IPython display for better visualization
display(language_references_df)

                    Language Name  Reference Count
33                         Python               70
16                           Java               22
25                  Not Mentioned               19
34                            Q&A               14
24                           MCQs               10
3                               C               10
5                             C++               10
18                     JavaScript                7
7                             CSS                6
13                           HTML                6
39                            SQL                4
4                              C#                3
45                     TypeScript                2
35                              R                2
17           Java, Python, C etc.                2
40                          Scala                1
36                         Racket                1
37                           Ruby                1
38                           Rust                1
0                            ABAP                1
42                       Solidity                1
41                        Scratch                1
31                     PowerShell                1
43                          Swift                1
44                            TeX                1
46                           VHDL                1
47                        Verilog                1
48                   Visual Basic                1
49  Visual Basic for Applications                1
50                            XML                1
32                         Prolog                1
26                    Objective-C                1
30                         Perl 6                1
29                           Perl                1
2               Block Programming                1
6                           COBOL                1
8                            Dart                1
9                          Delphi                1
10                        Fortran                1
11                             Go                1
12                         Groovy                1
14                        Haskell                1
15                           JSON                1
19                          Julia                1
20                         Kotlin                1
21                           Lisp                1
22                            Lua                1
23                         MATLAB                1
1                            Bash                1
27                            PHP                1
28                         PL/SQL                1
51                           YAML                1

## LLMs

In [26]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get the list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

foreign_keys = []

# Iterate through each table and get foreign key constraints
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    fk_list = cursor.fetchall()
    for fk in fk_list:
        if fk[2] == 'llm_education_survey_llm':
            foreign_keys.append({
                'table_name': table_name,
                'column_name': fk[3],
                'references_table': fk[2],
                'references_column': fk[4]
            })

# Count the references for each LLM name
llm_references = {}

for fk in foreign_keys:
    table_name = fk['table_name']
    column_name = fk['column_name']
    
    query = f"""
    SELECT d.name, COUNT(*) as reference_count
    FROM {table_name} t
    JOIN llm_education_survey_llm d
    ON t.{column_name} = d.id
    GROUP BY d.name
    """
    try:
        ref_df = pd.read_sql_query(query, conn)
        
        for index, row in ref_df.iterrows():
            if row['name'] in llm_references:
                llm_references[row['name']] += row['reference_count']
            else:
                llm_references[row['name']] = row['reference_count']
    except Exception as e:
        print(f"Error querying table {table_name}: {e}")

# Convert the LLM references to a DataFrame
llm_references_df = pd.DataFrame(list(llm_references.items()), columns=['LLM Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
llm_references_df = llm_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Display the DataFrame using IPython display for better visualization
display(llm_references_df)

               LLM Name  Reference Count
6               ChatGPT               67
18        GPT-3.5-Turbo               34
19                GPT-4               27
12              CoPilot               10
21                 GPT3                8
16                Codex                7
24              LLaMA-2                5
1                  BARD                5
22               Gemini                3
8          ChatGPT Plus                3
39            StarCoder                2
4                BingAI                2
14             CodeBERT                2
29              Mistral                1
30            Moonshot8                1
31               PaLM 2                1
33          Replit-Code                1
32                 Qwen                1
27                  MPT                1
34     ResNet + ChatGPT                1
35              RoBERTa                1
36           SantaCoder                1
37          StableLM-7B                1
38            Star-Chat                1
40          WizardCoder                1
28    Microsoft Copilot                1
0                  Atom                1
26             LLaMA-7B                1
25            LLaMA-65B                1
23   GitHub Copilot Cha                1
20          GPT-4-Turbo                1
17               Falcon                1
15               CodeT5                1
13           Code-Lamma                1
11           Claude 2.1                1
10             Claude 2                1
9      ChatGPT-4 Vision                1
7   ChatGPT + DL models                1
5               ChatGLM                1
3              Baichuan                1
2              BERTopic                1
41    text-da-vinci-003                1

## Educational Outcome

In [29]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get the list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

foreign_keys = []

# Iterate through each table and get foreign key constraints
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    fk_list = cursor.fetchall()
    for fk in fk_list:
        if fk[2] == 'llm_education_survey_educationaloutcome':
            foreign_keys.append({
                'table_name': table_name,
                'column_name': fk[3],
                'references_table': fk[2],
                'references_column': fk[4]
            })

# Count the references for each educational outcome name
educational_outcome_references = {}

for fk in foreign_keys:
    table_name = fk['table_name']
    column_name = fk['column_name']
    
    query = f"""
    SELECT d.name, COUNT(*) as reference_count
    FROM {table_name} t
    JOIN llm_education_survey_educationaloutcome d
    ON t.{column_name} = d.id
    GROUP BY d.name
    """
    try:
        ref_df = pd.read_sql_query(query, conn)
        
        for index, row in ref_df.iterrows():
            if row['name'] in educational_outcome_references:
                educational_outcome_references[row['name']] += row['reference_count']
            else:
                educational_outcome_references[row['name']] = row['reference_count']
    except Exception as e:
        print(f"Error querying table {table_name}: {e}")

# Convert the educational outcome references to a DataFrame
educational_outcome_references_df = pd.DataFrame(list(educational_outcome_references.items()), columns=['Educational Outcome Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
educational_outcome_references_df = educational_outcome_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Adjust pandas display settings to show all rows
pd.set_option('display.max_rows', len(educational_outcome_references_df))

# Display the entire DataFrame using IPython display for better visualization
display(educational_outcome_references_df)

# Reset pandas display options if needed
pd.reset_option('display.max_rows')

                              Educational Outcome Name  Reference Count
100      Student has positive experience towards LLms.                5
102  Students are postive towards using LLM in lear...                4
64            LLMs can help as an educational chatbot.                3
71        LLMs can help repairing buggy student codes.                3
70   LLMs can help novice programmers to write bett...                3
53       LLMs are still not well accepted in academia.                3
50               LLMs are heavily used by SE students.                2
29   LLM can generate helpful personalized learning...                2
42   LLMs (ChatGPT) can partially help data science...                2
48                           LLMs are good at CS MCQs.                2
83   LLMs excels at multiple undergrad Python courses.                2
79   LLMs can not solve specially crafted tasks nai...                2
57   LLMs can be used to generate Programming Exerc...                2
60   LLMs can generate quality code for most CS cou...                2
74   LLMs can help with Feedback analysis. CoT can ...                2
63             LLMs can help answering visual CS Q&As.                2
65                        LLMs can help generate MCQs.                2
68   LLMs can help in grading programming tasks/ass...                2
101  Students almost always try ChatGPT but remains...                2
69              LLMs can help in interactive tutoring.                2
109  The adoption of LLMs varied depending on the s...                1
121  students find LLM-generated worked examples va...                1
84                  LLMs pass 15 undergrad SE courses.                1
116  learners and educators can enhance their inter...                1
117  n LLM-based Database Tutor can provide a varie...                1
118  opilot approach to teaching introductory data ...                1
82            LLMs can work as a virtual TA very well.                1
81                  LLMs can serve as remote AI Tutors                1
119  students desired more than mere answers from L...                1
80   LLMs can not yet pass an university ML final e...                1
120  students did not benefit from the smart assist...                1
78   LLMs can not pass a grad level Software testin...                1
77                  LLMs can not get a CS degree. Yet.                1
108             Survey on detecting AI generated texts                1
76   LLMs can not generate reliable feedbacks for a...                1
122   students found CodeHelp to be a welcome addition                1
75   LLMs can not always help students to learn a n...                1
123  students have rated the feedback from GPT-4 re...                1
124  students in the experimental group achieved si...                1
73   LLMs can help students with no coding backgrou...                1
125  students not only enjoyed using the AI TA but ...                1
72       LLMs can help students with CS Hardware Q&As.                1
126  students’ confidence in CodeTutor’s comprehens...                1
127  students’ engagement with LLMs significantly i...                1
85   LLMs should be adopted in IT courses to help s...                1
86       LLMs should be carefully handled in academia.                1
87   LLMs tested produced high- quality output, thu...                1
88   LLMs' code explanations are mostly found usefu...                1
107  Students utilized LLMs for various purposes, i...                1
106  Students rated their experience as very positi...                1
105  Students often do not know how to prompt LLMs ...                1
104   Students believe LLMs help to enhance knowledge.                1
103             Students ask LLM mainly for debugging.                1
110  The positive experiences with ChatGPT in revol...                1
111  The potential for rapid iteration, creativeide...                1
112  The whole education system needs to adapt for ...                1
113  Three groups of students acting differantly wi...                1
99   Student gave mostly negative responses found t...                1
98                 Student can understand LLMs' codes.                1
97   Significant negative correlation between the a...                1
96               SE courses need to adapt the LLM era.                1
114  We need to adopt LLMs in CS education, not for...                1
94                      Most students read LLMs' code.                1
93   Most CS students (57%) in India has a positive...                1
92   Microsoft Copilot provided current and relevan...                1
91   Large Language Models may be helpful for learn...                1
90   LLMs, when properly implemented and inte- grat...                1
89   LLMs' usage in Dual-Submission Homework in Par...                1
115         integrating LLMs for better understanding.                1
95   Participants expressed frustration with ChatGP...                1
0                               A new Prompting Method                1
67   LLMs can help in grading algorithms tasks/assi...                1
15         ChatGPT impacted the final grade positively                1
27   GPT4 is good at generating quality programming...                1
26   GPT4 is good at classifying student help reque...                1
25   GPT4 is capable of generating quality code tra...                1
24   GPT4 can generate high quality exercise questi...                1
23   GPT-4 provides significantly improved feed- ba...                1
22   GPT-4 demonstrated better performance than GPT...                1
21   GPT-4 could not consistently reach average stu...                1
20   GPT-4 already identifies and mentions most of ...                1
19   Difficulty in getting relevant or accurate res...                1
18   Designing prompts for LLMs is not often an eas...                1
17   ChatGPT was used for different purposes (code ...                1
16   ChatGPT is better at explaining new concepts i...                1
14   ChatGPT highlights significant advancements in...                1
66                   LLMs can help in grading CS MCQs.                1
13   ChatGPT dis- played a basic understanding of t...                1
12   ChatGPT can solve most DS tasks. A change in c...                1
11   ChatGPT can solve most Bioinformatics tasks in...                1
10   ChatGPT can provide good feedback on programmi...                1
9    ChatGPT can not take over as a TA for any prog...                1
8    ChatGPT can help autocorrecting Python code be...                1
7    ChatGPT can generate good feedback for OOP ass...                1
6    ChatGPT can detect most security vulnerabiliti...                1
5    ChatGPT (GPT-3.5) was the most popular tool am...                1
4    All participants praised ChatGPT for its effic...                1
3    AST-based DL models can detect AI generated code.                1
2    AI in SE education has a strong focus on exerc...                1
28    LLM Usage reduced over the time in the projects.                1
30   LLM can generate test cases that (sometimes) a...                1
31   LLM exhibit their highest proficiency in the r...                1
32   LLM generated code can be detected based on an...                1
1    AI Code Detector can falsely detect AI Generat...                1
62   LLMs can grade programming assignments in zero...                1
61   LLMs can generate quality non-English coding e...                1
59   LLMs can generate good initial CS interview Qs...                1
58      LLMs can do diverse interaction with students.                1
56        LLMs can be adopted in the course as a tool.                1
55   LLMs can apply their extensive computational p...                1
54   LLMs are used by students for technical assist...                1
52   LLMs are overwhelmingly used in academica. Mos...                1
51   LLMs are not very familiar to all the CS instr...                1
49    LLMs are great for scaffolding intro CS courses.                1
47   LLMs are being more welcomed by CS instructors...                1
46   LLMs achieve poor performance on Chinese Pytho...                1
45   LLMs (GPT3) can handle most OOP tasks in under...                1
44   LLMs (GPT-3) are still not ready for providing...                1
43   LLMs (CoPilot) finds Q&As more difficult than ...                1
41   LLM-created explanations are rated as being si...                1
40   LLM-based teachable agents can help student le...                1
39   LLM-based chatbot to assist 700 students in se...                1
38   LLM usages are , is a potentially useful learn...                1
37   LLM usage negatively affect students’ ability ...                1
36   LLM rising concerns about proper learning, ove...                1
35        LLM integration in IDEs can be very helpful.                1
34   LLM generates concerning negative feedback loo...                1
33   LLM generated code can not always be identifia...                1
128  the difficulty in phrasing questions and the m...                1

## Research Methodologies

In [28]:
import sqlite3
import pandas as pd
from IPython.display import display

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get the list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

foreign_keys = []

# Iterate through each table and get foreign key constraints
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    fk_list = cursor.fetchall()
    for fk in fk_list:
        if fk[2] == 'llm_education_survey_researchmethodology':
            foreign_keys.append({
                'table_name': table_name,
                'column_name': fk[3],
                'references_table': fk[2],
                'references_column': fk[4]
            })

# Count the references for each research methodology name
research_methodology_references = {}

for fk in foreign_keys:
    table_name = fk['table_name']
    column_name = fk['column_name']
    
    query = f"""
    SELECT d.name, COUNT(*) as reference_count
    FROM {table_name} t
    JOIN llm_education_survey_researchmethodology d
    ON t.{column_name} = d.id
    GROUP BY d.name
    """
    try:
        ref_df = pd.read_sql_query(query, conn)
        
        for index, row in ref_df.iterrows():
            if row['name'] in research_methodology_references:
                research_methodology_references[row['name']] += row['reference_count']
            else:
                research_methodology_references[row['name']] = row['reference_count']
    except Exception as e:
        print(f"Error querying table {table_name}: {e}")

# Convert the research methodology references to a DataFrame
research_methodology_references_df = pd.DataFrame(list(research_methodology_references.items()), columns=['Research Methodology Name', 'Reference Count'])

# Sort the DataFrame by Reference Count in descending order
research_methodology_references_df = research_methodology_references_df.sort_values(by='Reference Count', ascending=False)

# Close the connection
conn.close()

# Display the DataFrame using IPython display for better visualization
display(research_methodology_references_df)

     Research Methodology Name  Reference Count
1                   Case Study               52
10                  User Study               41
9                     Use Case               25
6        New Benchmark Dataset               11
7                New Framework                9
5              LLM-based Agent                6
0       A new Prompting Method                5
2   Evaluating multiple models                4
3         External Tool on LLM                3
8                     New Tool                3
4                   Finetuning                2

## Getting bibtexts

In [37]:
import sqlite3
import pandas as pd

# Path to your SQLite database file
db_path = './db_llm_education_survey.sqlite3'  # Ensure this path is correct

# Connect to the SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Query to join llm_education_survey_paper and llm_education_survey_discipline based on foreign keys
query = """
SELECT d.name as discipline, p.title, p.bibtex
FROM llm_education_survey_paper p
JOIN llm_education_survey_analysis a
ON p.id = a.paper_id
JOIN llm_education_survey_analysis_disciplines ad
ON a.id = ad.analysis_id
JOIN llm_education_survey_discipline d
ON ad.discipline_id = d.id
"""

# Execute the query and load the result into a DataFrame
result_df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Save the result to a CSV file
result_df.to_csv('discipline_papers.csv', index=False)

# Display the first few rows as a confirmation
print(result_df.head())

                    discipline  \
0  Introduction to Programming
1  Introduction to Programming
2           Introduction to CS
3  Introduction to Programming
4            Computer Networks

                                               title  \
0  Evaluating the Quality of LLM-Generated Explan...
1  Training Language Models for Programming Feedb...
2  Comparative Quality Analysis of GPT-Based Mult...
3  Assessing ChatGPT’s Proficiency in CS1-Level P...
4  Performance of Large Language Models in a Comp...

                                              bibtex
0  @inproceedings{10.1145/3627217.3627233,\nautho...
1  @inbook{Koutcheme_2023, title={Training Langua...
2  @inbook{Gr_visse_2023, title={Comparative Qual...
3  @inbook{S_nchez_2023, title={Assessing ChatGPT...
4  @inbook{Kr_ger_2024, title={Performance of Lar...